# assignment
VVeganYam.zip

#files
popup.ml

# folder 
playlist
images

# ocaml
*.cmo
*.cma
*.cmi
*.out
*.cmx
*.native
*.byte
_build

# temporary files
*.swp
*~
\#*\#
.DS_Store

/log

5c0140db790a5dcebee9edcf7a128943a91808
pack-5286140e00ba9169798c27606a4f2da344ea448d